/latexmkrc
/resume.aux
/resume.bcf
/resume.log
/resume.out
/resume.run.xml
/resume.png
/_TZ_64610-nixpad.log
/_TZ_64610-nixpad.tex
/pubs-authoryear.tex
/nicethings_icons_readme.txt
/pdfa.xmpi
/pubs-num.tex
